<div class="form-group string required wpf_form_card_holder">
  <label class="control-label string required" for="wpf_form_card_holder">
    <abbr title="required">*</abbr> {{content.holder}}
  </label>
  <input class="form-control string required jp-card-valid" tabindex="2" required="required" aria-required="true"
         type="text" value=" `````` " name="wpf_form[card_holder]" id="wpf_form_card_holder"
         [formControl]="form.get('card_holder')">
</div>
<div class="card-number">
  <div class="form-group string required wpf_form_card_number">
    <label class="control-label string required" for="wpf_form_card_number">
      <abbr title="required">*</abbr> {{content.cardNum}}</label>
    <input class="form-control string required" autocomplete="off" tabindex="2" required="required" aria-required="true"
           type="text" name="wpf_form[card_number]" id="wpf_form_card_number"
           [formControl]="form.get('card_number')">
  </div>
</div>
<div class="details-row">
  <div class="expiration-date">
    <div class="form-group date required readonly wpf_form_expiration_date">
      <label class="control-label date required" for="wpf_form_expiration_date_2i">
        <abbr title="required">*</abbr>
        {{content.expDate}}
      </label>
      <div class="form-inline">
        <input type="hidden" id="wpf_form_expiration_date_3i" name="wpf_form[expiration_date(3i)]" value="1">
        <select id="wpf_form_expiration_date_2i" name="wpf_form[expiration_date(2i)]"
                class="form-control date required readonly" tabindex="2"  required="required"
                aria-required="true"
                [formControl]="form.get('expiration_month')">
          <option value="">Select Month</option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <select id="wpf_form_expiration_date_1i" name="wpf_form[expiration_date(1i)]"
                class="form-control date required readonly" tabindex="2" readonly="readonly" required="required"
                aria-required="true"
                [formControl]="form.get('expiration_year')">
          <option value="">Select Year</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
          <option value="2036">2036</option>
          <option value="2037">2037</option>
          <option value="2038">2038</option>
          <option value="2039">2039</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group string optional wpf_form_cvv">
    <label class="control-label string optional" for="wpf_form_requires_cvv">
      <abbr title="required">* </abbr>
      CVV
    </label>
    <input class="form-control string optional" size="6" maxlength="4" autocomplete="off" id="wpf_form_requires_cvv" tabindex="2" type="text" name="wpf_form[cvv]" required="required" [formControl]="form.get('cvv')">
  </div>
  <input hidden="" id="expiry" tabindex="-1">
</div>
