<div class="merchant-logo"></div>
<div class="payment-form">
  <div class="bg-white">
    <h3>{{content.payFor}}</h3>
    {{content.descr}}
  </div>
</div>
  <div class="amount">50.00 USD</div>
<div class="payment-form">
  <div class="bg-white">
    <h4>{{content.payCard}}</h4>
    <div class="accepted-cards">
      <span>{{content.accCards}}</span>
      <div>
        <img src="assets/img/visa.svg" class="payment-system-img">
        <img src="assets/img/master.svg" class="payment-system-img">
        <img src="assets/img/maestro.svg" class="payment-system-img">
      </div>
      <div class="descriptor-container">
        <div class="descriptor-title">{{content.billed}}</div>
        <div class="descriptor-content">{{content.testData}}</div>
      </div>
      <!--credit card-->
      <div class="card-wrapper credit-card">
        <div class="jp-card-container" style="zoom: 1.28571;">
          <div class="jp-card jp-card-chrome">
            <div class="jp-card-front">
              <div class="jp-card-logo jp-card-amex"></div>
              <div class="jp-card-logo jp-card-dankort"></div>
              <div class="jp-card-logo jp-card-dinersclub"></div>
              <div class="jp-card-logo jp-card-discover"></div>
              <div class="jp-card-logo jp-card-jcb"></div>
              <div class="jp-card-logo jp-card-maestro"></div>
              <div class="jp-card-logo jp-card-mastercard"></div>
              <div class="jp-card-logo jp-card-unionpay"></div>
              <div class="jp-card-logo jp-card-visa"></div>
              <div class="jp-card-logo jp-card-visaelectron"></div>
              <div class="jp-card-lower">
                <div class="jp-card-shiny"></div>
                <div class="jp-card-display jp-card-cvc ">•••</div>
                <div class="jp-card-display jp-card-number">•••• •••• •••• ••••</div>
                <div class="jp-card-display jp-card-name jp-card-valid"> ``````</div>
                <div class="jp-card-display jp-card-expiry" data-before="month/year" data-after="valid thru">••/••</div>
              </div>
            </div>
            <div class="jp-card-back">
              <div class="jp-card-bar"></div>
              <div class="jp-card-cvc jp-card-display">•••</div>
              <div class="jp-card-legalText"></div>
            </div>
          </div>
        </div>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
</div>
<!--<div class="payment-form">-->
  <div class="payment-form-footer">
    <div class="tac wpf_form_tac">
      <input name="wpf_form[tac]" type="hidden" value="0"><input tabindex="3" type="checkbox" value="1" name="wpf_form[tac]" id="wpf_form_tac">
      <label for="wpf_form_tac"></label>
      {{content.terms1}}
      <a target="_blank" href="http://genesissupport247.com/en/terms-conditions">{{content.terms2}}</a>
      {{content.terms3}} <a target="_blank" href="http://genesissupport247.com/en/privacy-policy">{{content.terms4}}</a>
      {{content.terms5}}
      <div class="div"></div>
    </div>
    <input type="button" (click)="save.emit()" name="commit" value="{{content.pay}}" class="submit payment-submit" tabindex="3">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path-background" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="3"></circle>
        <circle class="path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="2"></circle>
      </svg>
    </div>
    <a class="cancel" href="/en/payment/cancel/9141cda500fe2e6d910b777f0df31f51">{{content.cancelRet}}</a>
  </div>
<!--</div>-->
